<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Index Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Chinese Year Zodiac</h1>
  </header>

  <form action="/zodiac/getyear" method="post">
    <p><label for="user">Your Name:
        <input type="text" id="user" name="username">
      </label></p>
    <p><label for="year">Enter Year of Birth:
        <input type="number" min="1" max="4000" value="2023" name="year" id="year">
      </label></p>
    <p><input type="submit" value="Year of the ?"></p>
  </form>

  <footer>
    <address>&copy; 2023 Firstname Lastname</address>
  </footer>
</body>

</html>