<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chinese Year Zodiac</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Chinese Year Zodiac</h1>
            <h2>Welcome, <%=username%></h2>
        </header>

        <main>
          <p><%=username%>, you were born in <%=year%>,
            which is the year of the <%=animal%>.</p>
        </main>

        <footer>
            <address>&copy; 2023 FirstName LastName</address>
        </footer>
    </body>
</html>