<!DOCTYPE html>
<html>
<head>
    <title>Circles</title>
</head>
<body>
    <h1>Circles</h1>
    <p>Circle with radius=<%= circle.radius %></p>
    <p>Circumference: <%= circle.circumference %></p>
    <p>Area: <%= circle.area %></p>
    <p><em>© 2023 Wendi Jollymore</em></p>
    <p style="background-color: purple; color: white; padding: 5px;">
        My Sample Output: My circumference and area are formatted to 2 decimal places
    </p>
</body>
</html>
